.header {
    display: flex;
    justify-content: center;
    height: 11rem;
    align-items: center;
    gap: 5rem
}

.headerImg {
    height: 10rem;
    width: auto;
}

.headerTitle {
    font-size: 6rem;
    color: white;
}