.content-area {
    display: flex;
    margin-top: 1.5rem;
}

.user_area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 40%;
}

.task_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.addUserBtn {
    background-color: lightgreen;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4rem;
    font-size: 2rem;
    cursor: pointer;
}