.user {
    background-color: rgb(27 61 100);
    display: flex;
    padding: 3rem;
    width: 30rem;
    justify-content: space-between;
    border-radius: 2rem;

}

.user_name {
    color: white;
    font-size: 3rem;
    background-color: transparent;
}

.user:hover {
    cursor: pointer;
    .user_name {
        color: darkgray;
    }
}

.delete_btn {
    border: none;
    background-color: red;
    border-radius: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}